

html {
    font-family: 'Kiwi Maru', serif;
}


body {
    background-color: #008891;
}

.mainpic {
    border-radius: 50%;
    height: 240px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder {
    color: aqua;
    font-weight: bold;
    text-align: center;
}

body.contact    {
    background-color: #008891;
}

span {
    background-color: maroon;
}

.cont {
   border-radius: 50%;
   height: 20%;
   flex-direction: row;
   margin: 20px;
   display: block;
   float: right;
   position: absolute;
   right: 0%;
   border: white solid 10px;
}

textarea {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}


hr {
    border-style: none;
    width: 10%;
    border-top-style: dotted;
    border-color:#e7e7de;
    border-width: 10px;    
}

h3 {
    color: #e7e7de;
}

h1 {
    color: #0f3057;
}

h3:hover {
   color: goldenrod;
    transition: color 1s;

}

